services:
  app:
    ports:
      - "8000:8000"
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ./backend:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    environment:
      APP_ENV: dev
      APP_SECRET: ${APP_SECRET:-1234567890abcdef1234567890abcdef}
      DATABASE_URL: "postgresql://symfony:symfony@db:5432/crm?serverVersion=15&charset=utf8"
      REDIS_URL: "redis://redis:6379"
      ELASTICSEARCH_URL: "http://elasticsearch:9200"
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      MINIO_BUCKET: "crm-files"
      TRUSTED_PROXIES: 172.0.0.0/8
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      elasticsearch:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - crm_net
    expose:
      - "9000"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: crm
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: symfony
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U symfony -d crm"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - crm_net

  nginx:
    image: nginx:alpine
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - crm_net
  redis:
    image: redis:7
    networks:
      - crm_net

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cat/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - crm_net

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    ports:
      - "9001:9001"
    networks:
      - crm_net

  # Запускать только при необходимости (тяжелый)
  # kibana:
  #   image: docker.elastic.co/kibana/kibana:8.12.0
  #   depends_on:
  #     - elasticsearch
  #   ports:
  #     - "5601:5601"

volumes:
  db_data:
  minio_data:

networks:
  crm_net:
    driver: bridge

